

/* Generali */

p{
    font-size: 16px;
}



/* Banner + Logo */

header{
    background-color: dodgerblue;
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-size: 30%;
    height: 150px;
}

#logo{
    height: 75px;
    padding-top: 50px;
}



/* Titolo + Immagini */

h1{
    margin-bottom: 0;
}

.grey-text{
    color: grey;
}

#autore{
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
}

#data{
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 30px;
}

#booleaner{
    color: darkturquoise;
}

#descrizione-immagini{
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Descrizione */

.evidenziato{
    background-color: yellow;
}

.elenco-puntato{
    margin-top: 30px;
    margin-bottom: 30px;
}

#elenco-puntato{
    padding-left: 15px;
}


/* Tabella */

table{
    border-spacing: 0;
}

thead{
    color: white;
}

#full-lorem{
    width: 50%;
    text-align: left;
}

th{
    text-align: left;
    border: 0;
}

td{
    border: 0;
}

.sfondo-azzurro{
    background-color: rgb(41, 168, 241);
}

.sfondo-celeste{
    background-color: rgb(145, 224, 255);
}

.sfondo-bianco{
    background-color: white;
}


/* Articoli Suggeriti */

#proposte{
    font-weight: bold;
}

#proposta-1{
  background-image: url(../img/monitor.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 160px;
  width: 210px;
}

#proposta-2{
    background-image: url(../img/graph.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    width: 210px;
}

footer > p{
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px
}